@import "./colors"

.signincard
  max-width: 400px
  margin-top: 4%
  padding: 50px 50px
  .signincheck
    input
      &:checked
        background-color: $button-color
        border: none
        transition: visibility 0s
  .signinForm
    max-width: 400px
    .signinbtn
      background-color: $button-color
      border: none
      margin-top: 3%
    